

<div class="page page-dashboard" layout-gt-sm="column" ng-controller="DashboardCtrl">

  <div layout="row" layout-wrap>
    <div flex="100" flex-md="50" flex-gt-md="70">
      <div class="mt-20 mb-20 ml-20">
        <img src="/images/BABEL.png">
      </div>
      <div class="row">
        <div class="col-sm-4 mt-50">
          <div class="ml-20">
            <h4 class="text-bolder text-grey-color">Wallet Balance</h4>
            <div class="mt-20">
              <span class="text-grey-color">UND</span>&nbsp;<span class="h3 text-primary">99.67</span>
            </div>
            <div class="mb-20">
              <span class="text-grey-color">USD</span>&nbsp;&nbsp;<span class="h5 text-primary">125.67</span>
            </div>
            <button class="btn btn-default btn-sm">Deposit UND <i class="fa fa-long-arrow-up"></i></button>
            <button class="btn btn-primary btn-sm">Withdraw UND <i class="fa fa-long-arrow-up"></i></button>
          </div>
        </div>
        <div class="col-sm-8">
          <h4 class="text-bolder text-grey-color">Data flow And earnings</h4>
<div>
    <c3-chart id="c3chartline" style="height:300px" config="lineconfig"></c3-chart>
</div>

        </div>
      </div>
      <div>
        <h4 class="text-bolder text-grey-color">Data Sharing</h4>
        <uib-tabset active="active">
          <uib-tab index="3">
            <uib-tab-heading>
            <img src="/images/stanford-medicine-logo.png" style="width: 80px;" />
            </uib-tab-heading>
            <div class="panel panel-body">
              <div class="row mb-20">
                <div class="col-lg-3">
                  <h4 class="text-primary text-bolder text-uppercase">Outgoing data</h4>
                  <p class="text-grey-color text-uppercase"> Blood glucose monitoring</p>
                  <div layout="row" layout-align="space-between center">
                    <img class="" src="/images/drop.png" />
                    <img class="" src="/images/arrow-right.png" />
                  </div>
                </div>
                <div class="col-lg-3">
                  <h4 class="text-primary text-bolder text-uppercase">Custom report</h4>
                  <p class="text-grey-color text-uppercase"> BLOOD GLUCOSE MONITORING</p>
                  <img class="mt-20 mr-20" src="/images/icontabs.png" />
                </div>
                <div class="col-lg-3">
                  <h4 class="text-primary text-bolder text-uppercase">Campaign intent</h4>
                  <p class="text-grey-color text-uppercase"> Research of Blood and Health</p>
                </div>
                <div class="col-lg-3">
                  <h4 class="text-primary text-bolder text-uppercase">Reqired data permission</h4>
                  <p class="text-grey-color text-uppercase">
                     <md-switch  aria-label="Switch 1" class="md-primary md-block">Blood Glucose Level</md-switch>
                      <md-switch  aria-label="Switch 2" class="md-primary md-block">Time and Date</md-switch>
                       <md-switch  aria-label="Switch 3" class="md-primary md-block">Personal Idenity</md-switch>
                   </p>
                </div>
              </div>

              <div class="row mb-20">
                <div class="col-lg-3">
                  <h4 class="text-primary  text-bolder text-uppercase">Data Category</h4>
                  <p class="text-grey-color text-uppercase"> Health<br /> Monitoring</p>
                </div>
                <div class="col-lg-3">
                  <h4 class="text-primary text-bolder text-uppercase">Compensation</h4>
                  <p class="text-grey-color text-uppercase"> 1 UND per 1 <br />Data Transfer</p>
                </div>
                <div class="col-lg-3">
                  <h4 class="text-primary text-bolder text-uppercase">Sharing Frequency</h4>
                  <p class="text-grey-color text-uppercase"> Transfer &nbsp; <span class="h2">1</span> &nbsp;DT/day</p>
                </div>

              </div>
              <div class="row mb-20">
                <div class="col-lg-3">
                  <h4 class="text-primary  text-bolder text-uppercase">ASSOCIATED Uapps</h4>
                  <div>
                    <div class="text-center mr-10" style="float:left;">
                      <i class="fa  text-success fa-check-circle"></i><br />
                      <img class="" src="/images/app1.png" />
                    </div>
                    <div class="mr-10 text-center" style="float:left">
                      <i class="fa text-success  fa-check-circle"></i><br />
                      <img class="" src="/images/app2.png" />
                    </div>


                  </div>
                </div>
                <div class="col-lg-3">
                  <h4 class="text-primary text-bolder text-uppercase">Available UAPPS</h4>
                  <div>
                    <div class="text-center mr-10" style="float:left;">
                      <i class="fa text-success fa-plus-circle"></i><br />
                    <img class="" src="/images/app3.png" />
                    </div>
                    <div class="mr-10 text-center" style="float:left;" >
                      <i class="fa text-success  fa-plus-circle"></i><br />
                      <img class="" src="/images/app4.png" />
                    </div>
                    <div class="mr-10 text-center" style="float:left;" >
                      <i style="visibility:hidden" class="fa text-success  fa-plus-circle"></i><br />
                      <img class="" src="/images/app-plus.png" />
                    </div>


                  </div>
                </div>
              </div>
              <div>
                <button class="btn btn-primary btn-lg">Add Uapps &nbsp;<i class="fa fa-long-arrow-right"></i></button>&nbsp;
                <button class="btn btn-default btn-lg">Term and Conditions&nbsp; <i class="fa fa-long-arrow-right"></i></button>&nbsp;
                <button class="btn btn-default btn-lg">Active programs &nbsp;<i class="fa fa-long-arrow-right"></i></button>
              </div>
            </div>

          </uib-tab>
          <uib-tab index="2">
            <uib-tab-heading>
              <img src="/images/DeepMind_logo.png" style="width: 80px;" />
            </uib-tab-heading>
            I've got aetty cool!
          </uib-tab>
          <uib-tab index="1">
             <uib-tab-heading>
               <img src="/images/HSBC.png" style="width: 80px;" />
             </uib-tab-heading>
             I've got an  Pretty cool!

             <div class="panel panel-body">
               <div class="row mb-20">
                 <div class="col-lg-3">
                   <h4 class="text-primary text-bolder text-uppercase">Outgoing data</h4>
                   <p class="text-grey-color text-uppercase">CAR INSURANCE SAVING</p>
                   <div layout="row" layout-align="space-between center">
                     <img class="" src="/images/Vector-right.png" />
                     <img class="" src="/images/arrow-right.png" />
                   </div>
                 </div>
                 <div class="col-lg-3">
                   <h4 class="text-primary text-bolder text-uppercase">Custom report</h4>
                   <p class="text-grey-color text-uppercase">CAR INSURANCE SAVING</p>
                   <img class="mt-20 mr-20" src="/images/Design-car.png" />
                 </div>
                 <div class="col-lg-3">
                   <h4 class="text-primary text-bolder text-uppercase">Campaign intent</h4>
                   <p class="text-grey-color text-uppercase">OPTIMISATION OF INSURANCE COSTS</p>
                 </div>
                 <div class="col-lg-3">
                   <h4 class="text-primary text-bolder text-uppercase">Reqired data permission</h4>
                   <p class="text-grey-color text-uppercase">
                      <md-switch  aria-label="Switch 1" class="md-primary md-block">Financial Account <br />balance</md-switch>
                       <md-switch  aria-label="Switch 2" class="md-primary md-block">Time annd Date</md-switch>
                        <md-switch  aria-label="Switch 3" class="md-primary md-block">Personal Identity</md-switch>
                    </p>
                 </div>
               </div>

               <div class="row mb-20">
                 <div class="col-lg-3">
                   <h4 class="text-primary  text-bolder text-uppercase">Data Category</h4>
                   <p class="text-grey-color text-uppercase"> Finanace &<br /> Insurance</p>
                 </div>
                 <div class="col-lg-3">
                   <h4 class="text-primary text-bolder text-uppercase">Compensation</h4>
                   <p class="text-grey-color text-uppercase"> 1 UND per 1 <br />Data Transfer</p>
                 </div>
                 <div class="col-lg-3">
                   <h4 class="text-primary text-bolder text-uppercase">Sharing Frequency</h4>
                   <p class="text-grey-color text-uppercase"> Transfer &nbsp; <span class="h2">1</span> &nbsp;Transaction/day</p>
                 </div>

               </div>
               <div class="row mb-20">
                 <div class="col-lg-3">
                   <h4 class="text-primary  text-bolder text-uppercase">ASSOCIATED Uapps</h4>
                   <div>
                     <div class="text-center mr-10" style="float:left;">
                       <i class="fa  text-success fa-check-circle"></i><br />
                       <img class="" src="/images/image-leaf.png" />
                     </div>
                     <div class="mr-10 text-center" style="float:left">
                       <i class="fa text-success  fa-check-circle"></i><br />
                       <img class="" src="/images/Zilloow.png" />
                     </div>


                   </div>
                 </div>
                 <div class="col-lg-3">
                   <h4 class="text-primary text-bolder text-uppercase">Available UAPPS</h4>
                   <div>
                     <div class="text-center mr-10" style="float:left;">
                       <i class="fa text-success fa-plus-circle"></i><br />
                     <img class="" src="/images/fb-image.png" />
                     </div>
                     <div class="mr-10 text-center" style="float:left;" >
                       <i class="fa text-success  fa-plus-circle"></i><br />
                       <img class="" src="/images/citi.png" />
                     </div>
                     <div class="mr-10 text-center" style="float:left;" >
                       <i style="visibility:hidden" class="fa text-success  fa-plus-circle"></i><br />
                       <img class="" src="/images/app-plus.png" />
                     </div>


                   </div>
                 </div>
               </div>
               <div>
                 <button class="btn btn-primary btn-lg">Add Uapps &nbsp;<i class="fa fa-long-arrow-right"></i></button>&nbsp;
                 <button class="btn btn-default btn-lg">Term and Conditions&nbsp; <i class="fa fa-long-arrow-right"></i></button>&nbsp;
                 <button class="btn btn-default btn-lg">Active programs &nbsp;<i class="fa fa-long-arrow-right"></i></button>
               </div>
             </div>
           </uib-tab>
           <uib-tab index="10">
              <uib-tab-heading>
                <img src="/images/6JsjjLo.png" style="width: 50px;" />
              </uib-tab-heading>
              I've got an HTML heading, and a
            </uib-tab>
            <uib-tab index="4">
               <uib-tab-heading>
                 <img src="/images/image 2.png" style="width: 80px;" />
               </uib-tab-heading>
              d a select callback. Pretty cool!
             </uib-tab>

 </uib-tabset>
      </div>
    </div>
    <div flex="100" flex-md="50" flex-gt-md="30">
      <md-card style="">
       <img ng-src="/images/face-profile.png" class="md-card-image" alt="Washed Out">
       <div style="position:relative">
         <div class="profiletxt">
          <h3> Neyma Jahan</h3>
          <h4> Chaing mai, Thailand</h4>
         </div>
       </div>

       <md-card-title>
         <md-card-title-text>
           <span class="md-headline">Personal identity</span>
         </md-card-title-text>
       </md-card-title>
       <md-card-content>
         <div class="row">
          <div class="col-lg-4 col-sm-12">
            <h5 class="text-uppercase text-grey-color">Birthday</h5>
            <h4 class="text-primary">20.04.1985</h4>
          </div>
          <div class="col-lg-4 col-sm-12">
              <h5 class="text-uppercase text-grey-color">Height</h5>
              <h4 class="text-primary">186 cm</h4>
            </div>
            <div class="col-lg-4 col-sm-12">
            <h5 class="text-uppercase text-grey-color">Weight</h5>
            <h4 class="text-primary">86kg</h4>
          </div>
        </div>
        <div class="row">
         <div class="col-lg-6 col-sm-12">
           <h5 class="text-uppercase text-grey-color">Marital status</h5>
           <h4 class="text-primary">N/A</h4>
         </div>
         <div class="col-lg-6 col-sm-12">
             <h5 class="text-uppercase text-grey-color">Gender</h5>
             <h4 class="text-primary">Male</h4>
           </div>

       </div>
       <div class="row">
        <div class="col-lg-6 col-sm-12">
          <h5 class="text-uppercase text-grey-color">Occupation</h5>
          <h4 class="text-primary">CEO</h4>
        </div>
        <div class="col-lg-6 col-sm-12">
            <h5 class="text-uppercase text-grey-color">Income</h5>
            <h4 class="text-primary">yes</h4>
          </div>

      </div>
       </md-card-content>
       <md-card-actions layout="row" layout-align="start center">
        <button class="btn btn-primary btn-lg"> View All Data &nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i></button>
       </md-card-actions>
     </md-card>
     <md-card style="">


      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Activity Log</span>


        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <div class="timeline">
  <div class=" right">
    <div class="content">
      <p><b>Neyma Jahan</b> has activated Strava Uapp.</p>

    </div>
  </div>
  <div class=" right">
    <div class="content">
      <p><b>Neyma Jahan</b> has activated 23 & me Uapp.</p>

    </div>
  </div>
  <div class=" right">
    <div class="content">
        <p><b>Neyma Jahan</b> has subscribed to Blood Gluclose Monitoring program.</p>

    </div>
  </div>
  <div class=" right">
    <div class="content">
      <p><b>Neyma Jahan</b> has activated One Drop Uapp.</p>

    </div>
  </div>

</div>
        <!-- <timeline>
           <timeline-event ng-repeat="event in events" side="right">
             <timeline-badge class="{{event.badgeClass}}">
               <i class="glyphicon {{event.badgeIconClass}}"></i>
             </timeline-badge>
             <timeline-panel class="{{event.badgeClass}}">
               <timeline-heading>
                 <h4>{{event.title}}</h4>
               </timeline-heading>
               <p>{{event.content}}</p>
             </timeline-panel>
           </timeline-event>
         </timeline> -->
      </md-card-content>
      <!-- <md-card-actions layout="row" layout-align="start center">
       <button class="btn btn-primary btn-lg"> View All Data &nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i></button>
      </md-card-actions> -->
    </md-card>
    </div>

  </div>
    <!-- <div flex class="today-stats">
        <h3 class="md-caption" layout-margin>Today's Stats</h3>

        <div layout-gt-sm="row">
            <div flex-gt-sm="33" class="stats-wrapper">
                <div class="stats">
                    <div class="val">3.1K</div>
                    <div class="md-caption text-uppercase">Page Views</div>
                </div>
                <span class="chart-trends" sparkline type="line" width="8em" height="2em" fill-color="transparent" line-color="#388E3C">3,4,2,3,4,1,4,2</span>
            </div>

            <div flex-gt-sm="33" class="stats-wrapper">
                <div class="stats">
                    <div class="val">288</div>
                    <div class="md-caption text-uppercase">Downloads</div>
                </div>
                <span class="chart-trends" sparkline type="line" width="8em" height="2em" fill-color="transparent" line-color="#388E3C">3,4,2,3,4,4,6,2</span>
            </div>

            <div flex-gt-sm="33" class="stats-wrapper">
                <div class="stats">
                    <div class="val">$189</div>
                    <div class="md-caption text-uppercase">Earnings</div>
                </div>
                <span class="chart-trends" sparkline type="line" width="8em" height="2em" fill-color="transparent" line-color="#388E3C">3,4,2,3,4,5,4,5</span>
            </div>
        </div>
    </div>

    <div layout-gt-sm="row">
        <md-card flex-gt-sm="40">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-subhead text-uppercase text-bold">Browser Sessions</span>

                </md-card-title-text>
            </md-card-title>

            <md-card-content style="text-align: center;">
            	<c3-chart id="c3chartbrowsershare" config="browserconfig"></c3-chart>
            </md-card-content>
        </md-card>

        <md-card flex-gt-sm="60">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-subhead text-uppercase text-bold">Weekly Growth</span>

                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <c3-chart id="c3chartweeklygrowth" config="weeklygrowthconfig"></c3-chart>
            </md-card-content>
        </md-card>
    </div>

    <div layout-gt-sm="row">


        <md-card flex-gt-sm="60">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-subhead text-uppercase text-bold">Visitors Age</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <c3-chart id="c3visitorsage" config="visitorsageconfig"></c3-chart>

            </md-card-content>

        </md-card>

        <md-card flex-gt-sm="40">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-subhead text-uppercase text-bold">Activities</span>

                </md-card-title-text>
            </md-card-title>

            <md-card-content class="dashboard-activities">
                <ul class="list-unstyled">
                    <li class="primary">
                        <span class="point"></span>
                        <span class="time md-caption">2 mins ago</span>
                        <p>Jonathan attended a meeting.</p>
                    </li>
                    <li class="success">
                        <span class="point"></span>
                        <span class="time md-caption">1 hour ago</span>
                        <p>Designed the wordpress theme</p>
                    </li>
                    <li class="warning">
                        <span class="point"></span>
                        <span class="time md-caption">4:30 p.m</span>
                        <p>Lily created her account.</p>
                    </li>
                    <li class="info">
                        <span class="point"></span>
                        <span class="time md-caption">2 days ago</span>
                        <p>Your domain will expired in 9 days.</p>
                    </li>
                    <li class="danger">
                        <span class="point"></span>
                        <span class="time md-caption">1 week ago</span>
                        <p>Lorem ipsum dolar sit amet consectator.</p>
                    </li>
                </ul>

            </md-card-content>

        </md-card>

    </div>

    <div layout-gt-sm="row">
        <md-card flex-gt-sm="100">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-subhead text-uppercase text-bold">Project Stats</span>

                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <md-table-container>
                    <table md-table>
                        <thead md-head>
                            <tr md-row>
                                <th md-column class="text-uppercase">Id</th>
                                <th md-column class="text-uppercase">Project</th>
                                <th md-column class="text-uppercase">Fees</th>
                                <th md-column class="text-uppercase">Status</th>
                                <th md-column class="text-uppercase">Date</th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row>
                                <td md-cell>220</td>
                                <td md-cell>Convert to Sass</td>
                                <td md-cell>$340</td>
                                <td md-cell><md-progress-circular md-mode="determinate" value="60" class="md-warn" md-diameter="25"></md-progress-circular></td>
                                <td md-cell>10<sup>th</sup> Dec 2016</td>
                            </tr>
                            <tr md-row>
                                <td md-cell>101</td>
                                <td md-cell>Designing wordpress theme</td>
                                <td md-cell>$1340</td>
                                <td md-cell><md-progress-circular md-mode="determinate" class="md-accent" value="80"  md-diameter="25"></md-progress-circular></td>
                                <td md-cell>20<sup>th</sup> Dec 2016</td>
                            </tr>
                            <tr md-row>
                                <td md-cell>310</td>
                                <td md-cell>Adding animations to template</td>
                                <td md-cell>$120</td>
                                <td md-cell><md-progress-circular md-mode="determinate" value="90" md-diameter="25"></md-progress-circular></td>
                                <td md-cell>2<sup>nd</sup> Dec 2016</td>
                            </tr>
                            <tr md-row>
                                <td md-cell>405</td>
                                <td md-cell>Lorem ipsum dolar sit amet</td>
                                <td md-cell>$310</td>
                                <td md-cell><md-progress-circular md-mode="determinate" value="50" class="md-warn" md-diameter="25"></md-progress-circular></td>
                                <td md-cell>29<sup>th</sup> Nov 2016</td>
                            </tr>
                            <tr md-row>
                                <td md-cell>445</td>
                                <td md-cell>Building admin template</td>
                                <td md-cell>$890</td>
                                <td md-cell><md-progress-circular md-mode="determinate" value="30" class="md-warn md-hue-2" md-diameter="30"></md-progress-circular></td>
                                <td md-cell>1<sup>st</sup> Jan 2017</td>
                            </tr>
                        </tbody>
                    </table>

                </md-table-container>
            </md-card-content>

        </md-card>

    </div> -->



</div>
