<div class="toolbar md-title" layout="row" layout-align="none center">

    <div class="toolbar-tools" layout="row" layout-align="none center">
        <md-button class="md-icon-button" md-ripple-size="full" hide-gt-sm>
            <md-icon class="ion-ios-menu md-title" ng-click="toggleSidenav()"></md-icon>
        </md-button>
        <div class="md-subhead text-uppercase" style="margin-left: 3.4rem"><img src="/images/BABEL.png" /></div>
        <span flex></span>
        <form action="#na" id="site-search" class="site-search" hide-xs>



    </div>

</div>
