<!-- <md-toolbar layout="column" class="md-tall" layout-align="none center">

    <!-- <div class="profile">
        <figure>
            <img src="images/admin.jpg" alt="admin">
            <span class="isonline"></span>
        </figure>
		<div class="group">
			<h5 class="name">Andy Mandy</h5>
			<small>Graphic Designer</small>
		</div>
    </div>
</md-toolbar> -->

<nav class="site-nav" highlight-sidenav highlight-active>
  <a href="/" class="brand-logo">
    <img src="/images/logo-dashboard.png" />
  </a>
    <ul class="nav md-body-1">
        <li>
            <a href="#/dashboard" class="text-center"  md-ink-ripple><img style="width:20px" src="/images/apps.png" /></a>
        </li>
        <li>
            <a href="#/email/inbox" class="text-center" md-ink-ripple><img style="width:20px" src="/images/store.png" /></a>
        </li>
        <li>
            <a href="javascript:void(0)" class="text-center" md-ink-ripple><img style="width:20px" src="/images/db.png" /></a>
        </li>
        <li>
            <a href="javascript:void(0)" class="text-center" md-ink-ripple><img  style="width:20px"src="/images/notification.png" /></a>
        </li>
        <div style="position:absolute; bottom:0; left:0; right:0" >
          <li>
              <a href="javascript:void(0)" class="text-center" md-ink-ripple><img  style="width:20px"src="/images/collaboration.png" /></a>
          </li>
          <li>
              <a href="#/profile" class="text-center" md-ink-ripple><img  style="width:20px"src="/images/profile.png" /></a>
          </li>
          <li>
              <a href="#/pages/signin" class="text-center" md-ink-ripple><img  style="width:20px"src="/images/logout.png" /></a>
          </li>
        </div>
    </ul>

    <!-- <p class="md-caption" md-colors="::{color: 'grey-400'}">Components</p>
    <ul class="nav md-body-1">
        <li>
            <a href="#/ui" md-ink-ripple>
                <md-icon class="ion-ios-flask first"></md-icon>
                UI Kit
                <md-icon class="ion-ios-arrow-dropleft last"></md-icon>
            </a>
            <ul class="inner-drop">
				<li><a href="#/ui/buttons" md-ink-ripple>Buttons</a></li>
				<li><a href="#/ui/typography" md-ink-ripple>Typography</a></li>
				<li><a href="#/ui/cards" md-ink-ripple>Cards</a></li>
                <li><a href="#/ui/grids" md-ink-ripple>Grids</a></li>
                <li><a href="#/ui/icons" md-ink-ripple>Icons</a></li>
				<li><a href="#/ui/tabs" md-ink-ripple>Tabs</a></li>
				<li><a href="#/ui/modals" md-ink-ripple>Modals</a></li>
                <li><a href="#/ui/progress" md-ink-ripple>Progress</a></li>
				<li><a href="#/ui/extras" md-ink-ripple>Extras</a></li>
			</ul>
        </li>
        <li>
            <a href="#/tables" md-ink-ripple>
                <md-icon class="ion-ios-list-box first"></md-icon>
                Tables
            </a>
        </li>
        <li>
            <a href="#/charts" md-ink-ripple>
                <md-icon class="ion-ios-pie first"></md-icon>
                Charts
                <md-icon class="ion-ios-arrow-dropleft last"></md-icon>
            </a>
            <ul class="inner-drop">
				<li><a href="#/charts/c3" md-ink-ripple>C3</a></li>
				<li><a href="#/charts/sparklines" md-ink-ripple>Sparklines</a></li>

			</ul>
        </li>
        <li>
            <a href="#/forms" md-ink-ripple>
                <md-icon class="ion-ios-bulb first"></md-icon>
                Forms
                <md-icon class="ion-ios-arrow-dropleft last"></md-icon>
            </a>
            <ul class="inner-drop">
				<li><a href="#/forms/elements" md-ink-ripple>Elements</a></li>
                <li><a href="#/forms/validation" md-ink-ripple>Validation</a></li>
                <li><a href="#/forms/uploader" md-ink-ripple>File Uploader</a></li>
			</ul>
        </li>
        <li>
            <a href="#/pages" md-ink-ripple>
                <md-icon class="ion-ios-copy first"></md-icon>
                Pages
                <md-icon class="ion-ios-arrow-dropleft last"></md-icon>
            </a>
            <ul class="inner-drop">
				<li><a href="#/pages/signin" md-ink-ripple>Sign In</a></li>
				<li><a href="#/pages/register" md-ink-ripple>Register</a></li>
                <li><a href="#/pages/forget-pass" md-ink-ripple>Forget Pass</a></li>
                <li><a href="#/pages/404" md-ink-ripple>404</a></li>
                <li><a href="#/pages/search" md-ink-ripple>Search</a></li>
                <li><a href="#/pages/invoice" md-ink-ripple>Invoice</a></li>
			</ul>
        </li>
    </ul> -->
</nav>
